<!doctype html>
<html lang="{{ lang | lang }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if lang === "en" and page.inputPath === "./src/en/index.md" %}
            <title>{{ site.title }}</title>
        {% elif lang === "fi" and page.inputPath === "./src/fi/index.md" %}
            <title>{{ site.title }}</title>
        {% else %}
            <title>{{ title }} - {{ site.title }}</title>
        {% endif %}

        {# TODO: Add description #}
        {% favicons %}

        <link href="{{ site.url }}{{ page.url }}" rel="canonical" />

        <link href="{{ site.url }}{{ page.url }}" hreflang="{{ lang | lang }}" rel="alternate" />
        {% for link in page.url | locale_links %}
            <link href="{{ site.url }}{{ link.url }}" hreflang="{{ link.lang | lang }}" rel="alternate" />
        {% endfor %}
        {% if page.lang === site.defaultLanguage %}
            <link href="{{ site.url }}{{ page.url }}" hreflang="x-default" rel="alternate" />
        {% else %}
            {% for link in page.url | locale_links %}
                {% if link.lang === site.defaultLanguage %}
                    <link href="{{ site.url }}{{ link.url }}" hreflang="x-default" rel="alternate" />
                {% endif %}
            {% endfor %}
        {% endif %}

        <link href="{{ '/main.css' | hash }}" rel="stylesheet" />
    </head>
    <body>
        <a class="sr-only" href="#{{ t.mainID }}"> {{- t.skipToContent -}} </a>
        <main id="{{ t.mainID }}">{{ content | safe }}</main>
    </body>
</html>
