---
import MainLayout from "@/layouts/MainLayout.astro";
import locales, { defaultLocale, getLang } from "@/locales";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
    const pages = await getCollection("home");

    return pages.map((page) => ({
        params: {
            locale:
                page.id === defaultLocale.toLowerCase()
                    ? undefined
                    : getLang(locales.find((l) => page.id === l.toLowerCase())),
        },
        props: { page },
    }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const { Content } = await render(page);
---

<MainLayout>
    <div class="container">
        <div class="prose">
            <Content />
        </div>
    </div>
</MainLayout>
