---
import MainLayout from "@/layouts/MainLayout.astro";
import locales, { defaultLocale, getLang } from "@/locales";
import type { GetStaticPathsResult } from "astro";
import { getEntry, render } from "astro:content";

export function getStaticPaths(): GetStaticPathsResult {
    let paths = [];

    for (const locale of locales) {
        if (locale === defaultLocale) {
            paths.push({
                params: { locale: undefined },
            });
        } else {
            paths.push({
                params: { locale: getLang(locale) },
            });
        }
    }

    return paths;
}

const page = await getEntry("home", Astro.currentLocale!);

if (!page) {
    throw new Error(`could not load content for entry home/preface-${Astro.currentLocale}`);
}

const { Content } = await render(page);
---

<MainLayout>
    <div class="container">
        <div class="prose">
            <Content />
        </div>
    </div>
</MainLayout>
