<footer class="site-footer container">
    <small>&copy; 2026 Antti Kivi</small>
    {{ if .IsHome }}
        {{ partial "logo.html" (dict "class" "footer-logo" "title" (T "logo-alt")) }}
    {{ else }}
        <a class="logo-link" href="{{ relLangURL "" }}">
            {{ if eq .Path "/404" }}
                {{ partial "logo-not-found.html" (dict "class" "footer-logo" "title" (T "logo-not-found-alt")) }}
            {{ else }}
                {{ partial "logo.html" (dict "class" "footer-logo" "title" (T "logo-alt")) }}
            {{ end }}
        </a>
    {{ end }}
</footer>
