@import "tailwindcss";

@theme {
    /* https://tailwindcss.com/docs/theme */
    --*: initial;

    --font-sans: sans-serif;
    --font-mono: monospace;
    --color-current: currentcolor;
    --color-white: white; /* light background color, text color on dark background */
    --color-black: black; /* text color on light background */
    --color-gray-300: #d1d5db; /* weak color on dark background */
    --color-gray-600: #525252; /* weak color on light background */
    --color-gray-900: #171717; /* dark background color */
    --color-blue-100: #f8b5ff; /* link hover color on dark background */
    --color-blue-200: #f690ff; /* visited link color on dark background */
    --color-blue-300: #89a6ff; /* link color on dark background */
    --color-blue-800: #0000ee; /* link color on light background */
    --color-blue-900: #551a8b; /* visited link color on light background */
    --color-blue-950: #451473; /* link hover color on light background */

    --spacing: 0.25rem;

    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;

    --font-weight-bold: 700;
}

@utility container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: --spacing(4);
    padding-left: --spacing(4);

    @media (width >= 48rem) {
        /* stylelint-disable-next-line no-invalid-position-declaration */
        max-width: 40rem;
    }
}

@layer components {
    .prose {
        & > p {
            margin: --spacing(4) 0;
        }

        & a {
            color: var(--color-blue-800);
            text-decoration: underline;

            @media (prefers-color-scheme: dark) {
                color: var(--color-blue-300);
            }

            &:hover {
                @media (hover: hover) {
                    color: var(--color-blue-950);

                    @media (prefers-color-scheme: dark) {
                        color: var(--color-blue-100);
                    }
                }
            }

            &:visited {
                color: var(--color-blue-900);

                @media (prefers-color-scheme: dark) {
                    color: var(--color-blue-200);
                }
            }
        }

        & em {
            font-style: italic;
        }

        & code {
            font-family: var(--font-mono);
        }
    }
}
