@import "tailwindcss";

@theme {
    /* https://tailwindcss.com/docs/theme */
    --*: initial;

    --font-sans:
        ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-current: currentColor;

    /* Light background color, text color on dark background */
    --color-gray-50: oklch(98.5% 0 0deg);

    /* Weak color on dark background */
    --color-gray-300: oklch(87.1% 0.006 286.286deg);

    /* Weak color on light background */
    --color-gray-600: oklch(44.2% 0.017 285.786deg);

    /* Dark background color */
    --color-gray-900: oklch(21% 0.006 285.885deg);

    /* Text color on light background */
    --color-gray-950: oklch(14.1% 0.005 285.823deg);

    /* Link hover color on dark background */
    --color-blue-100: oklch(93.2% 0.032 255.585deg);

    /* Visited link color on dark background */
    --color-blue-200: oklch(88.2% 0.059 254.128deg);

    /* Link color on dark background */
    --color-blue-300: oklch(80.9% 0.105 251.813deg);

    /* Link color on light background */
    --color-blue-800: oklch(42.4% 0.199 265.638deg);

    /* Visited link color on light background */
    --color-blue-900: oklch(37.9% 0.146 265.522deg);

    /* Link hover color on light background */
    --color-blue-950: oklch(28.2% 0.091 267.935deg);

    --spacing: 0.25rem;

    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;

    --font-weight-bold: 700;
}

@utility container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: --spacing(4);
    padding-left: --spacing(4);

    @media (width >= 48rem) {
        /* stylelint-disable-next-line no-invalid-position-declaration */
        max-width: 40rem;
    }
}

@layer components {
    .prose {
        & > p {
            margin: --spacing(4) 0;
        }

        & a {
            color: var(--color-blue-800);
            text-decoration: underline;

            @media (prefers-color-scheme: dark) {
                color: var(--color-blue-300);
            }

            &:hover {
                @media (hover: hover) {
                    color: var(--color-blue-950);

                    @media (prefers-color-scheme: dark) {
                        color: var(--color-blue-100);
                    }
                }
            }

            &:visited {
                color: var(--color-blue-900);

                @media (prefers-color-scheme: dark) {
                    color: var(--color-blue-200);
                }
            }
        }

        & em {
            font-style: italic;
        }
    }
}
