@import "tailwindcss";

@theme {
    /* https://tailwindcss.com/docs/theme */
    --*: initial;

    --font-sans:
        ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-gray-50: oklch(98.5% 0 0);
    --color-gray-900: oklch(21% 0.006 285.885deg);
    --color-gray-950: oklch(14.1% 0.005 285.823deg);
}
