:root {
    color-scheme: light dark;

    --bg: white;
    --text: black;
    --link: #0000ee;
    --link-hover: #451473;
    --link-visited: #551a8b;
    --gray: #525252;

    @media (prefers-color-scheme: dark) {
        --bg: #171717;
        --text: white;
        --link: #89a6ff;
        --link-hover: #f8b5ff;
        --link-visited: #f690ff;
        --gray: #d1d5db;
    }

    @media print {
        color-scheme: light;

        --bg: white;
        --text: black;
        --link: #0000ee;
        --link-hover: var(--link);
        --link-visited: var(--link);
        --gray: #525252;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
    border: 0 solid;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: sans-serif;
}

a {
    color: var(--link);

    @media (hover: hover) {
        &:hover {
            color: var(--link-hover);
        }
    }

    &:visited {
        color: var(--link-visited);
    }
}

.mobile-only {
    @media (width >= 768px) {
        display: none;
    }
}

.not-mobile-only {
    display: none;

    @media (width >= 768px) {
        display: block;
    }
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 1rem;

    @media (width >= 640px) {
        max-width: 40rem;
    }

    @media (width >= 768px) {
        /*
         * TODO: This is the same width as in the query above. I'll keep this
         * here for now though if we need to adjust it later.
         */
        max-width: 40rem;
    }
}

.footer-logo {
    width: 2rem;
    height: 2rem;
    fill: currentcolor;
}
