@import "tailwindcss";

@theme {
    /* https://tailwindcss.com/docs/theme */
    --*: initial;

    --font-sans:
        ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* Light background color, text color on dark background */
    --color-gray-50: oklch(98.5% 0 0);
    /* Weak color on dark background */
    --color-gray-300: oklch(87.1% 0.006 286.286);
    /* Weak color on light background */
    --color-gray-600: oklch(44.2% 0.017 285.786);
    /* Dark background color */
    --color-gray-900: oklch(21% 0.006 285.885deg);
    /* Text color on light background */
    --color-gray-950: oklch(14.1% 0.005 285.823deg);

    /* Link color on dark background */
    --color-blue-300: oklch(80.9% 0.105 251.813);
    /* Link color on light background */
    --color-blue-800: oklch(42.4% 0.199 265.638);

    --spacing: 0.25rem;

    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;

    --font-weight-bold: 700;
}

@utility container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: --spacing(4);
    padding-left: --spacing(4);

    @media (width >= 48rem) {
        max-width: 40rem;
    }
}
}
