:root {
    --color-white: white; /* light background color, text color on dark background */
    --color-black: black; /* text color on light background */
    --color-gray-300: #d1d5db; /* weak color on dark background */
    --color-gray-600: #525252; /* weak color on light background */
    --color-gray-900: #171717; /* dark background color */
    --color-blue-100: #f8b5ff; /* link hover color on dark background */
    --color-blue-200: #f690ff; /* visited link color on dark background */
    --color-blue-300: #89a6ff; /* link color on dark background */
    --color-blue-800: #0000ee; /* link color on light background */
    --color-blue-900: #551a8b; /* visited link color on light background */
    --color-blue-950: #451473; /* link hover color on light background */
}

html {
    color-scheme: light;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: sans-serif;

    @media (prefers-color-scheme: dark) {
        background-color: var(--color-gray-900);
        color: var(--color-white);
    }
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 1rem;

    @media (min-width: 640px) {
        max-width: 40rem;
    }

    @media (min-width: 768px) {
        max-width: 44rem;
    }
}
