<!doctype html>
<html lang="{{ page.lang | lang }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% set home = false %}
        {% if page.lang === "en" and page.inputPath === "./src/en/index.md" %}
            {% set home = true %}
        {% elif page.lang === "fi" and page.inputPath === "./src/fi/index.md" %}
            {% set home = true %}
        {% endif %}

        {% if home %}
            <title>{{ site.title }}</title>
        {% else %}
            <title>{{ title }} - {{ site.title }}</title>
        {% endif %}

        {% if description %}
            <meta name="description" content="{{ description }}" />
        {% else %}
            <meta name="description" content="{{ site.description }}" />
        {% endif %}
        {% favicons %}

        <link href="{{ site.url }}{{ page.url }}" rel="canonical" />

        <link href="{{ site.url }}{{ page.url }}" hreflang="{{ page.lang | lang }}" rel="alternate" />
        {% for link in page.url | locale_links %}
            <link href="{{ site.url }}{{ link.url }}" hreflang="{{ link.lang | lang }}" rel="alternate" />
        {% endfor %}
        {% if page.lang === site.defaultLanguage %}
            <link href="{{ site.url }}{{ page.url }}" hreflang="x-default" rel="alternate" />
        {% else %}
            {% for link in page.url | locale_links %}
                {% if link.lang === site.defaultLanguage %}
                    <link href="{{ site.url }}{{ link.url }}" hreflang="x-default" rel="alternate" />
                {% endif %}
            {% endfor %}
        {% endif %}

        <link href="/sitemap.xml" rel="sitemap" />

        {% if home -%}
            <meta property="og:title" content="{{ site.title }}" />
        {%- else -%}
            <meta property="og:title" content="{{ title }} - {{ site.title }}" />
        {%- endif -%}
        {% if description %}
            <meta property="og:description" content="{{ description }}" />
        {% else %}
            <meta property="og:description" content="{{ site.description }}" />
        {% endif %}
        {% openGraphImage "opengraph-image.png" %}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:type" content="website" />
        {% if page.fileSlug !== "404" -%}
            <meta property="og:locale" content="{{ site.locales[page.lang] }}" />

            {% for link in page.url | locale_links %}
                {% if link.lang !== page.lang %}
                    <meta property="og:locale:alternate" content="{{ site.locales[link.lang] }}" />
                {% endif %}
            {% endfor %}
        {% endif %}
        <meta property="og:site_name" content="{{ site.title }}" />

        <link href="{{ '/main.css' | hash }}" rel="stylesheet" />

        <script defer data-domain="anttikivi.com" src="https://plausible.io/js/script.js"></script>
    </head>
    <body>
        <a class="sr-only" href="#{{ t.mainID }}">{{- t.skipToContent -}}</a>
        <header class="container page-header">
            <div class="top">
                {% if home %}
                    <h1>{{ site.title }}</h1>
                {% else %}
                    <a class="title" href="{{ '/' | geturl }}">{{ site.title }}</a>
                {% endif %}
                {% if page.fileSlug !== "404" -%}
                    <ul class="nav" role="menu" aria-label="{{- t.languageMenuLabel -}}">
                        {% for link in page.url | locale_links %}
                            {% if not site.disabledLanguages.includes(link.lang) -%}
                                <li lang="{{- link.lang | lang -}}" role="menuitem">
                                    <a href="{{- link.url -}}"> {{- nav.langs[link.lang] -}} </a>
                                </li>
                            {% endif -%}
                        {% endfor -%}
                    </ul>
                {% endif -%}
            </div>
            <ul class="nav primary" role="menu" aria-label="{{- t.primaryMenuLabel -}}">
                {% for link in nav.primary -%}
                    {% if not link.disabled -%}
                        <li role="menuitem">
                            <a href="{{- link.link | geturl -}}">{{- link.label[page.lang] -}}</a>
                        </li>
                    {% endif -%}
                {% endfor -%}
            </ul>
        </header>
        <main id="{{ t.mainID }}">{{ content | safe }}</main>
        <footer class="container page-footer">
            {% if home %}
                <div class="logo">{%- include "logo.njk" -%}</div>
            {% elif page.fileSlug === "404" %}
                <a class="logo" href="{{ '/' | geturl }}">{%- include "logo-404.njk" -%}</a>
            {% elif page.fileSlug === "blog" and collections.writing | length === 0 %}
                <a class="logo" href="{{ '/' | geturl }}">{%- include "logo-404.njk" -%}</a>
            {% else %}
                <a class="logo" href="{{ '/' | geturl }}">{%- include "logo.njk" -%}</a>
            {% endif %}
            <p>&copy; 2025 Antti Kivi</p>
        </footer>
    </body>
</html>
