---
hasCssBundle: true
layout: layouts/page.njk
---

<p>{{- t.contactIntro -}}</p>

<p><a href="mailto:{{- site.contact.email -}}">{{- site.contact.email -}}</a></p>

<p>PGP: <a href="/pgp.asc">{{- t.pgpKey -}}</a></p>

<p class="fingerprint"><span>{{- t.fingerprint -}}:</span><code>{{- site.contact.pgpFingerprint | safe -}}</code></p>

<p>{{- t.github -}}: <a href="{{- site.contact.github -}}">{{- site.contact.github | replace("https://", "") -}}</a></p>

<style>
    .fingerprint {
        display: flex;
        align-items: flex-start;
        column-gap: 0.5rem;
    }

    .fingerprint span {
        margin-top: -0.18rem;
    }

    code {
        font-size: 1rem;
    }
</style>
