---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: mailto:antti@anttikivi.com
Expires: 2025-09-28T09:45:00.000Z
Encryption: {{ site.url }}/pgp.asc
Preferred-Languages: {{ site.languages | join(", ") }}
Canonical: {{ site.url }}{{ page.url }}
