---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: mailto:antti@anttikivi.com
Expires: 2025-09-27T23:59:00.000Z
Preferred-Languages: {{ site.languages | join(", ") }}
Canonical: {{ site.url }}{{ page.url }}
