:root {
    color-scheme: light dark;

    --bg: white;
    --text: black;
    --link: #0000ee;
    --link-hover: #451473;
    --link-visited: #551a8b;
    --gray: #525252;
    --light-gray: #d1d5db;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #171717;
        --text: white;
        --link: #89a6ff;
        --link-hover: #f8b5ff;
        --link-visited: #f690ff;
        --gray: #d1d5db;
        --light-gray: #525252;
    }
}

@media print {
    :root {
        color-scheme: light;

        --bg: white;
        --text: black;
        --link: #0000ee;
        --link-hover: var(--link);
        --link-visited: var(--link);
        --gray: #525252;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
    border: 0 solid;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: sans-serif;
}

a {
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

@media (hover: hover) {
    a:hover {
        color: var(--link-hover);
    }
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 1rem;
}

@media (min-width: 640px) {
    .container {
        max-width: 40rem;
    }
}

@media (min-width: 768px) {
    .container {
        /*
         * TODO: This is the same width as in the query above. I'll keep this
         * here for now though if we need to adjust it later.
         */
        max-width: 40rem;
    }
}

.not-mobile-only {
    display: none;
}

@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }

    .not-mobile-only {
        display: block;
    }
}

.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
}

.page-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-header .banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 4rem;
}

.page-header .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.page-header a.title {
    color: var(--text);
    text-decoration: none;
}

@media (hover: hover) {
    .page-header a.title:hover {
        color: var(--link);
        text-decoration: underline;
    }
}

.page-header .menu {
    padding-left: 0;
    list-style: none;
}

.page-header .menu a {
    color: var(--gray);
}

.page-header .menu a:visited {
    color: var(--gray);
}

@media (hover: hover) {
    .page-header .menu a:hover {
        color: var(--link);
    }
}

.main-menu ul {
    display: flex;
    column-gap: 1rem;
    margin: 0;
}
