---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection, render } from "astro:content";

const entries = await getCollection("errors", (entry) => entry.id.split("/")[1] === "404.md");
entries.sort((a, b) => {
    const x = a.id.split("/")[0]!;
    const y = b.id.split("/")[0]!;

    if (x < y) {
        return -1;
    }

    if (x > y) {
        return 1;
    }

    return 0;
});
const title = "404 Not Found";
---

<MainLayout canonicalURL={null} title={title} notFoundLogo>
    <div class="container">
        <h1 class="font-mono">{title}</h1>
        {
            entries.map(async (entry) => {
                const { Content } = await render(entry);
                return (
                    <div class="prose" lang={entry.id.split("/")[0]}>
                        <Content />
                    </div>
                );
            })
        }
    </div>
</MainLayout>
