---
import Logo from "@/components/Logo.astro";
import LogoNotFound from "@/components/LogoNotFound.astro";
import { useTranslations } from "@/utils/i18n";
import { getRoute, getRouteKey, routeLocale } from "@/utils/routes";

export interface Props {
    notFoundLogo?: boolean;
}

const { notFoundLogo } = Astro.props;

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);
const t = useTranslations("layout", locale);
---

<footer class="container">
    <small>&copy; 2025 Antti Kivi</small>
    {
        getRouteKey(Astro.url) === "index" ? (
            <Logo class="footer-logo" title={t("logoAlt")} />
        ) : (
            <a class="logo" href={getRoute(locale, "index")}>
                {notFoundLogo ? (
                    <LogoNotFound class="footer-logo" title={t("logoNotFoundAlt")} />
                ) : (
                    <Logo class="footer-logo" title={t("logoAlt")} />
                )}
            </a>
        )
    }
</footer>

<style>
    footer {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    small {
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    a.logo {
        color: currentcolor;
    }
</style>
