---
import Logo from "@/components/Logo.astro";
import LogoNotFound from "@/components/LogoNotFound.astro";
import { getRoute, getRouteKey, routeLocale } from "@/utils/routes";

export interface Props {
    notFoundLogo?: boolean;
}

const { notFoundLogo } = Astro.props;

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);
---

<footer class="container my-8 flex items-center justify-start gap-x-4 md:mt-12">
    {
        getRouteKey(Astro.url) === "index" ? (
            <Logo class="size-16 fill-current" />
        ) : (
            <a class="hover:text-blue-800 dark:hover:text-blue-300" href={getRoute(locale, "index")}>
                {notFoundLogo ? <LogoNotFound class="size-16 fill-current" /> : <Logo class="size-16 fill-current" />}
            </a>
        )
    }
    <p>&copy; 2025 Antti Kivi</p>
</footer>
