---
import Logo from "@/components/Logo.astro";
import { getRoute, getRouteKey, routeLocale } from "@/routes";

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);
---

<footer class="container my-8 flex items-center justify-start gap-x-4">
    {
        getRouteKey(Astro.url) === "index" ? (
            <Logo class="size-16 fill-current" />
        ) : (
            <a class="hover:text-blue-800 dark:hover:text-blue-300" href={getRoute(locale, "index")}>
                <Logo class="size-16 fill-current" />
            </a>
        )
    }
    <p>&copy; 2025 Antti Kivi</p>
</footer>
