---
import type { Locale } from "@/data/locales";
import { getRoute, routeLocale } from "@/utils/routes";
import type { JSX } from "astro/jsx-runtime";

interface Props {
    href: string;
    locale?: Locale;
    role?: JSX.AriaRole;
}

const { href, locale = routeLocale(Astro.routePattern, Astro.currentLocale), role } = Astro.props;
---

<a href={getRoute(locale, href)} role={role}><slot /></a>
