---
import HeaderLocaleNav from "@/components/HeaderLocaleNav.astro";
import { useTranslations } from "@/i18n";
import { getRoute, getRouteKey, isErrorPage, routeLocale } from "@/routes";

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);
const t = useTranslations("site", locale);
---

<header class="container mt-4">
    <div class="flex justify-between">
        {
            !isErrorPage(Astro.routePattern) && getRouteKey(Astro.url) === "index" ? (
                <h1 class="font-bold">{t("name")}</h1>
            ) : (
                <a
                    class="font-bold hover:text-blue-800 hover:underline dark:hover:text-blue-300"
                    href={getRoute(locale, "/")}
                >
                    {t("name")}
                </a>
            )
        }
        <HeaderLocaleNav />
    </div>
</header>
