---
import HeaderLocaleNav from "@/components/HeaderLocaleNav.astro";
import HeaderNav from "@/components/HeaderNav.astro";
import { useTranslations } from "@/utils/i18n";
import { getRoute, getRouteKey, isErrorPage, routeLocale } from "@/utils/routes";

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);
const t = useTranslations("site", locale);
---

<header class="container my-8">
    <div class="flex justify-start gap-x-8">
        {
            !isErrorPage(Astro.routePattern) && getRouteKey(Astro.url) === "index" ? (
                <h1 class="font-bold md:mt-0.5">{t("name")}</h1>
            ) : (
                <a
                    class="font-bold hover:text-blue-800 hover:underline md:mt-0.5 dark:hover:text-blue-300"
                    href={getRoute(locale, "/")}
                >
                    {t("name")}
                </a>
            )
        }
        <HeaderNav class="hidden md:block" />
        <HeaderLocaleNav class="ml-auto" />
    </div>
    <HeaderNav class="my-4 md:hidden" />
</header>
