---
import HeaderLocaleNav from "@/components/HeaderLocaleNav.astro";
import HeaderNav from "@/components/HeaderNav.astro";
import { useTranslations } from "@/utils/i18n";
import { getRoute, getRouteKey, isErrorPage, routeLocale } from "@/utils/routes";

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);
const t = useTranslations("site", locale);
---

<header class="container">
    <div class="banner">
        {
            !isErrorPage(Astro.routePattern) && getRouteKey(Astro.url) === "index" ? (
                <h1 class="title">{t("name")}</h1>
            ) : (
                <a class="title" href={getRoute(locale, "/")}>
                    {t("name")}
                </a>
            )
        }
        <HeaderNav class="not-mobile-only" />
        <div class="right">
            <HeaderLocaleNav />
        </div>
    </div>
    <HeaderNav class="mobile-only" />
</header>

<style>
    header {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .banner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 4rem;
    }

    .title {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: bold;
    }

    .right {
        margin-left: auto;
    }
</style>
