---
interface Props {
    class?: string;
    title?: string;
}

const { class: className, title } = Astro.props;
---

<svg class={className} viewBox="0 0 1024 1024">
    {title ? <title>{title}</title> : null}
    <path
        d="m606.519 41.023 25.962 21.954a1143 1143 0 0 0-53.208 67.988c-19.662 27.175-47.993 66.611-76.686 121.869-13.989 26.941-32.611 63.143-48.887 114.318-3.886 12.222-20.407 65.505-28.298 138.671a762 762 0 0 0-3.09 37.177H588.55l-6.777 22.004a506.5 506.5 0 0 0-16.473 71.597c-7.638 49.334-6.354 89.285-4.84 111.229 3.223 46.718 12.274 81.304 17.467 100.793 9.147 34.325 19.812 61.485 27.193 78.667a570 570 0 0 0 18.449 38.841l-30.138 15.738a604 604 0 0 1-19.551-41.159c-7.819-18.201-19.118-46.972-28.807-83.333-5.523-20.727-15.104-57.519-18.533-107.207-1.616-23.432-2.996-66.092 5.16-118.771A541 541 0 0 1 543.01 577H386.894l.616-17.595a793 793 0 0 1 4.088-57.228c8.271-76.684 25.628-132.52 29.702-145.329 17.036-53.565 36.47-91.483 51.113-119.682 29.691-57.18 58.968-98.012 79.314-126.131a1177 1177 0 0 1 54.792-70.012"
    >
    </path>
    <path
        d="m173.32 428.98 70.2-216h45.101l70.2 216H326.32l-64.699-197.1h8.199l-63.999 197.1zm36.401-48.7v-29.4h112.8v29.4zm384.799 49v-216h31.402v100.8l90.398-100.8h39l-95.498 105.401L762.321 429.28h-40.2l-96.199-103.2v103.2z"
        style="fill-rule:nonzero"
    >
    </path>
    <path
        d="M338.531 772.404c-8.863 3.079-18.558-1.617-21.637-10.48s1.616-18.558 10.479-21.637c10.958-3.807 32.878-11.41 49.626-16.087 17.373-4.851 36.015-9.468 54.3-12.899 19.47-3.653 42.228-7.195 62.554-9.01 19.789-1.767 40.889-2.11 59.575-1.889 17.557.208 35.488 1.43 52.578 3.2 16.786 1.738 33.53 4.124 50.077 7.436 16.817 3.365 34.699 7.753 50.686 12.751 15.368 4.804 35.223 13.05 45.146 17.184 8.661 3.608 12.764 13.569 9.155 22.23s-13.569 12.764-22.23 9.155c-9.283-3.867-27.84-11.624-42.216-16.118-14.891-4.655-31.55-8.729-47.214-11.864-15.499-3.102-31.184-5.327-46.906-6.955-16.083-1.666-32.956-2.826-49.478-3.021-17.611-.209-37.498.091-56.149 1.756-19.272 1.721-40.848 5.098-59.309 8.562-17.317 3.249-34.97 7.635-51.425 12.229-16.071 4.488-37.097 11.804-47.612 15.457"
    >
    </path>
</svg>
