---
import { useTranslations } from "@/utils/i18n";
import { routeLocale } from "@/utils/routes";

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);
const t = useTranslations("layout", locale);
---

<a href={`#${t("mainID")}`}>{t("skipToContent")}</a>

<style>
    a {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;

        &:focus {
            position: static;
            width: auto;
            height: auto;
        }
    }
</style>
