---
excludeFromSitemap: true
layout: layouts/base.njk
permalink: /404.html
title: 404 Not Found
---

<section class="container">
    <h1>404</h1>
    {% for language in site.languages -%}
        {% if not site.disabledLanguages.includes(language) -%}
            <div lang="{{ language | lang }}">
                <h2>
                    {%- if language === "en" -%}
                        Not Found
                    {%- elif language === "fi" -%}
                        Ei löydy
                    {%- endif -%}
                </h2>
                {% if language === "en" -%}
                    <p>
                        The page you are looking for could not be found. This could be because the page has been removed
                        or the address has changed. You can return to the <a href="{{ '/' | geturl }}">home page</a>.
                    </p>
                {% elif language === "fi" -%}
                    <p>
                        Etsimääsi sivua ei löytynyt. Tämä voi johtua siitä, että sivu on poistettu tai sen osoite on
                        muuttunut. Voit palata <a href="{{ '/' | geturl }}">etusivulle</a>.
                    </p>
                {% endif -%}
            </div>
        {% endif -%}
    {% endfor -%}
</section>
