---
import BaseHead, { type Props as HeadProps } from "@/components/BaseHead.astro";
import Footer, { type Props as FooterProps } from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import SkipLink from "@/components/SkipLink.astro";
import "@/styles/global.css";
import { useTranslations } from "@/utils/i18n";
import { routeLocale } from "@/utils/routes";

interface Props extends FooterProps, HeadProps {}

const { notFoundLogo = false, ...head } = Astro.props;

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);
const t = useTranslations("layout", locale);
---

<!doctype html>
<html lang={locale}>
    <head>
        <BaseHead {...head} />
    </head>
    <body>
        <SkipLink />
        <Header />
        <main id={t("mainID")}>
            <slot />
        </main>
        <Footer notFoundLogo={notFoundLogo} />
    </body>
</html>
