---
import BaseHead, { type Props as HeadProps } from "@/components/BaseHead.astro";
import { useTranslations } from "@/i18n";
import { routeLocale } from "@/routes";
import "@/styles/global.css";

// eslint-disable-next-line @typescript-eslint/no-empty-object-type
interface Props extends HeadProps {}

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);
const t = useTranslations("layout", locale);
---

<!doctype html>
<html class="scheme-light dark:scheme-dark" lang={locale}>
    <head>
        <BaseHead {...Astro.props} />
    </head>
    <body class="bg-gray-50 font-sans text-gray-950 dark:bg-gray-900 dark:text-gray-50">
        <a class="sr-only focus:not-sr-only" href={`#${t("mainID")}`}>{t("skipToContent")}</a>
        <slot />
    </body>
</html>
