---
import BaseHead from "@/components/BaseHead.astro";
import { useTranslations } from "@/i18n";
import { defaultLocale, languageCodes, type Locale } from "@/locales";
import "@/styles/global.css";

interface Props {
    errorPage?: boolean;
    title: string;
}
const { errorPage, title } = Astro.props;
const locale = errorPage ? defaultLocale : (Astro.currentLocale as Locale);

const t = useTranslations("layout", locale);
---

<!doctype html>
<html class="scheme-light dark:scheme-dark" lang={languageCodes[locale]}>
    <head>
        <BaseHead errorPage={errorPage} title={title} />
    </head>
    <body class="bg-stone-50 font-sans text-shadow-stone-950 dark:bg-stone-900 dark:text-stone-50">
        <a class="sr-only focus:not-sr-only" href={`#${t("mainID")}`}>{t("skipToContent")}</a>
        <slot />
    </body>
</html>
