---
import BaseHead, { type Props as HeadProps } from "@/components/BaseHead.astro";
import Footer, { type Props as FooterProps } from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import SkipLink from "@/components/SkipLink.astro";
import { useTranslations } from "@/i18n";
import { routeLocale } from "@/routes";
import "@/styles/global.css";

interface Props extends FooterProps, HeadProps {}

const { errorLogo = false, ...head } = Astro.props;

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);
const t = useTranslations("layout", locale);
---

<!doctype html>
<html class="scheme-light dark:scheme-dark" lang={locale}>
    <head>
        <BaseHead {...head} />
    </head>
    <body class="bg-gray-50 font-sans text-gray-950 dark:bg-gray-900 dark:text-gray-50">
        <SkipLink />
        <Header />
        <main id={t("mainID")}>
            <slot />
        </main>
        <Footer errorLogo={errorLogo} />
    </body>
</html>
