name: CI

on:
    push:
    pull_request:

concurrency:
    group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
    cancel-in-progress: true

permissions:
    contents: read

env:
    GO_VERSION: 1.25.5
    HUGO_VERSION: 0.154.3
    NODE_VERSION: 24

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5.0.0
            - uses: actions/setup-go@v6.1.0
              with:
                  go-version: ${{ env.GO_VERSION }}
                  cache: false
            - uses: actions/setup-node@v6.0.0
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: "npm"
            - run: mkdir -p "${HOME}/.local"
            - run: |
                  curl -sLJO "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
                  mkdir "${HOME}/.local/hugo"
                  tar -C "${HOME}/.local/hugo" -xf "hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
                  rm "hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
                  echo "${HOME}/.local/hugo" >> "${GITHUB_PATH}"
            - run: npm ci
            - run: hugo

    # TODO: Add actual checks.
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5.0.0
            - uses: actions/setup-go@v6.1.0
              with:
                  go-version: ${{ env.GO_VERSION }}
                  cache: false
            - uses: actions/setup-node@v6.0.0
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: "npm"
            - run: npm ci
