name: Deploy

on:
  push:
    branches: ["main"]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0

      - name: Set up Node.js environment
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build the site
        run: npm run build

      - name: Archive artifact
        shell: sh
        if: runner.os == 'Linux'
        run: |
          echo ::group::Archive artifact
          tar \
            --dereference --hard-dereference \
            --directory "_site/" \
            -cvf "${RUNNER_TEMP}/artifact.tar" \
            --exclude-vcs \
            .
          echo ::endgroup::

      - name: Upload artifact
        id: upload-artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: github-pages
          path: ${{ runner.temp }}/artifact.tar
          retention-days: 1
          if-no-files-found: error

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
